body {
    background-color: rgb(230, 202, 147);


}

.mainContainer {
    display: flex;
    border: 5px solid rgb(164, 9, 9);
    height: 200px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-weight: bold;
    flex-direction: column;
    min-width: fit-content;
    height: auto;



}

.headerContainer {
    background: rgb(80, 138, 46);
    width: 100%;
    min-height: 50px;


}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(var(--gridRow), auto);
    width: 800px;
    height: 800px;
    grid-gap: 1px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);  

}

.gridBox {
    box-sizing: border-box;
    /* border: 0px solid rgb(255, 255, 255); */
    background: rgb(81, 216, 176);
    /* min-width: var(--boxW);
    min-height: var(--boxH); */

}